<div class="aktuelle-section">
    <div class="aktuelle-section-title">
      <h1>Aktuelle</h1>
    </div>
  
    <div class="aktuelle-section-content-container">
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
    </div>
  
    <div class="aktuelle-section-content-container">
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
      <div class="aktuelle-section-content">
        <div>
          <div class="aktuelle-section-content-img">
            <img src="../../../assets/img/building.png" alt="building">
          </div>
          <h2>Umzugshelfer am 17.08</h2>
          <h2>für ca. 6 Stunden</h2>
          <p><img src="../../../assets/img/currency.png" alt="currency">10,00 €/Std.</p>
          <p><img src="../../../assets/img/calendar.png" alt="calendar">ca. 6 Stunden</p>
          <p><img src="../../../assets/img/location-orange.png" alt="location">71364 Winnenden</p>
          <p class="aktuelle-section-content-clock"><img src="../../../assets/img/time-gray.png" alt="time">vor 3 Std.</p>
        </div>
  
        <div class="aktuelle-section-content-button">Bewerben</div>
      </div>
    </div>
  
    <div class="aktuelle-section-button-container">
      <div class="orange-button">Alle ansehen</div>
    </div>
  
    <div class="testimonial-section">
      <div id="testimonial-img1"></div>
      <div id="testimonial-img2"></div>
      <div id="testimonial-img3"></div>
      <div class="testimonial-section-text">
        <div id="testimonial1">
          <img src="../../../assets/img/quotes.png">
          <p>Etiam tincidunt mi vitae nibh dignissim, convallis lobortis elit pel-</p>
          <p>lentesque. Maecenas eu ex nisl. Suspendisse lorem odio, eleifend a</p>
          <p>rhoncus pretium, gravida nec legula. Class aptent taciti sociosqu</p>
          <p>ad litora torquent per conubia nostra, per</p>
          <p class="testimonial-section-name">
            <span>Victoria Porter</span>
            <span>Customer</span>
          </p>
        </div>
  
        <div id="testimonial2">
          <img src="../../../assets/img/quotes.png">
          <p>2Etiam tincidunt mi vitae nibh dignissim, convallis lobortis elit pel-</p>
          <p>2lentesque. Maecenas eu ex nisl. Suspendisse lorem odio, eleifend a</p>
          <p>2rhoncus pretium, gravida nec legula. Class aptent taciti sociosqu</p>
          <p>2ad litora torquent per conubia nostra, per</p>
          <p class="testimonial-section-name">
            <span>Victoria Porter 2</span>
            <span>Customer 2</span>
          </p>
        </div>
  
        <div id="testimonial3">
          <img src="../../../assets/img/quotes.png">
          <p>3Etiam tincidunt mi vitae nibh dignissim, convallis lobortis elit pel-</p>
          <p>3lentesque. Maecenas eu ex nisl. Suspendisse lorem odio, eleifend a</p>
          <p>3rhoncus pretium, gravida nec legula. Class aptent taciti sociosqu</p>
          <p>3ad litora torquent per conubia nostra, per</p>
          <p class="testimonial-section-name">
            <span>Victoria Porter 3</span>
            <span>Customer</span>
          </p>
        </div>
  
        <div class="testimonial-dots-section">
          <div id="testimonial-section-dot1" class="dot dot-active">❚❚</div>
          <div id="testimonial-section-dot2" class="dot">❚❚</div>
          <div id="testimonial-section-dot3" class="dot">❚❚</div>
        </div>
      </div>
    </div>
  </div>
  