<div class="footer-section">
    <div class="footer-section-content">
      <div class="footer-content-logo">
        <img src="../../../assets/img/Final-white.png" alt="logo">
        <p>Etiam tincidunt mi vitae nibh dignissim, conval-</p>
        <p>lis lobortis elit pellentesque. Maecenas eu ex</p>
        <p>nisl. Suspendisse lorem odio, eleifend a rhoncus</p>
        <p>pretium, gravida nec ligula.</p>
      </div>
  
      <div class="footer-content-links">
        <h2>Uber Uns</h2>
        <p><a href="#">Vestibulum dui</a></p>
        <p><a href="#">Etiam tincidunt mi</a></p>
        <p><a href="#">Nunc lectus</a></p>
        <p><a href="#">Sodales metus</a></p>
        <p><a href="#">Quisque tempus</a></p>
      </div>
  
      <div class="footer-content-links">
        <h2>Dienstleistungen</h2>
        <p><a href="#">Vestibulum dui</a></p>
        <p><a href="#">Etiam tincidunt mi</a></p>
        <p><a href="#">Nunc lectus</a></p>
        <p><a href="#">Sodales metus</a></p>
        <p><a href="#">Quisque tempus</a></p>
      </div>
  
      <div class="footer-content-links">
        <h2>Folge uns</h2>
        <p class="footer-content-link"><img src="../../../assets/img/fb.png" alt="facebook"><a href="#">Facebook</a></p>
        <p class="footer-content-link"><img src="../../../assets/img/tw.png" alt="twitter"><a href="#">Twitter</a></p>
        <p class="footer-content-link"><img src="../../../assets/img/in.png" alt="linkedin"><a href="#">Linkedin</a></p>
        <p class="footer-content-link"><img src="../../../assets/img/gg.png" alt="google"><a href="#">Google</a></p>
        <p class="footer-content-link"><img src="../../../assets/img/xing.png" alt="xing"><a href="#">Xing</a></p>
        <p class="footer-content-link"><img src="../../../assets/img/in.png" alt="instagram"><a href="#">Instagram</a></p>
      </div>
    </div>
  
    <div class="footer-copyright-section">
      <p>Copyright © 2010-2020 <span>Movovia</span>. All right reserved.</p>
    </div>
  </div>
  