<div class="faq-section">
    <div class="faq-section-title">
      <h1 id="faq">FAQ</h1>
    </div>
  
    <div class="faq-section-content">
      <div class="collapsible">
        <div >
          <span>Ut sodales metus in venenatis rutrum. Nulla aliquet in ipsum at?</span><img src="../../../assets/img/rectangle.png" alt="rectangle"><hr>
        </div>
        <div class="faq-section-collapsible">
          <p>Some text</p>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="collapsible">
        <div >
          <span>Vestibulum dui orci, venenatis id imperdiet et, accumsan ac arcu. In sit amet aliquam orci. Donec dapibus?</span><img src="../../../assets/img/rectangle.png" alt="rectangle"><hr>
        </div>
        <div class="faq-section-collapsible">
          <p>Some text</p>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="collapsible">
        <div >
          <span>Nunc lectus nisi, pharetra quis dolor sollicitudin, ultricies lacinia metus?</span><img src="../../../assets/img/rectangle.png" alt="rectangle"><hr>
        </div>
        <div class="faq-section-collapsible">
          <p>Some text</p>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="collapsible">
        <div >
          <span>Ut sodales metus in venenatis rutrum. Nulla aliquet in ipsum at eleifend?</span><img src="../../../assets/img/rectangle.png" alt="rectangle"><hr>
        </div>
        <div class="faq-section-collapsible">
          <p>Some text</p>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="collapsible">
        <div >
          <span>Duis dictum risus eget augue dapibus, quis vulputate justo pharetra. Quisque tempus diam?</span><img src="../../../assets/img/rectangle.png" alt="rectangle"><hr>
        </div>
        <div class="faq-section-collapsible">
          <p>Some text</p>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
  
    <div class="faq-section-button-container">
      <div class="orange-button">Alle Frage Anzeigen</div>
    </div>
  </div>
  