@font-face {
    font-family: "UbuntuBold";
    src: url("../../../assets/fonts/ubuntu/Ubuntu-B.ttf") format("woff");
  }
  
  @font-face {
    font-family: "UbuntuRegular";
    src: url("../../../assets/fonts/ubuntu/Ubuntu-R.ttf") format("woff");
  }
  
  .faq-section {
    margin: 0 auto;
  }
  
  .faq-section h1 {
    font-family: UbuntuBold;
    color: 	#152247;
    font-size: 40px;
    position: relative;
  }
  
  .faq-section-title h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
  }
  
  .faq-section-title h1:before {
    content : "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    border-bottom: 4px solid #ffa04a;
    display: flex;
    justify-content: center;
  }
  
  .faq-section-content {
    position: relative;
  }
  
  .faq-section-content img {
    position: absolute;
    right: 12%;
    cursor: pointer;
    pointer-events: none;
  }
  
  .faq-section-content .collapsible {
    font-family: UbuntuBold;
    color: 	#152247;
    border: 1px solid #F0F0F0;
    margin: 20px 10%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .faq-section-content .collapsible div:first-of-type {
    padding: 20px;
  }
  
  .faq-section-content .collapsible span {
    display: inline-block;
    pointer-events: none;
    width: 90%;
  }
  
  .faq-section-content .collapsible:hover {
    border: 1px solid #D0D0D0;
  }
  
  .collapsible-opened img {
    display: none;
  }
  
  .collapsible-opened {
    border-bottom: 1px solid #F0F0F0;
  }
  
  .faq-section-button-container {
    margin: 0 10%;
  }
  
  .collapsible hr {
    display: none;
  }
  
  .collapsible-opened hr {
    height: 3px;
    background: #ffa04a;
    border: none;
    display: inline-block;
    width: 20px;
    position: absolute;
    right: 12%;
    cursor: pointer;
    pointer-events: none;
  }
  
  .orange-button {
    margin: 20px auto 100px auto;
    text-align: center;
    color: #ffffff;
    font-family: UbuntuBold;
    width: 32%;
    background: #ffa04a;
    border: 1px solid #ffa04a;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .orange-button:hover {
    border: 1px solid #ffffff;
  }
  
  .faq-section-collapsible {
    display: none;
    overflow: hidden;
    padding: 20px;
    font-family: UbuntuRegular;
  }
  
  .faq-section-collapsible p {
    margin: 5px 0;
  }
  
  @media all and (max-width: 1024px) {
    .faq-section-content .collapsible {
      margin: 20px 5%;
    }
  }
  
  @media all and (max-width: 600px) {
    .faq-section-content p {
      margin: 20px 5px;
      position: relative;
    }
  
    .faq-section-button-container .orange-button {
      width: 50%;
    }
  }
  