<div class="landing-header-container">
    <nav class="landing-header-navigation">
      <img src="../../../assets/img/logo.png" alt="Movavia">
      <div class="landing-header-navigation-menu">
        <ul>
          <li><a href="#dienstleistungen">DIENSTLEISTUNGEN</a></li>
          <li><a href="#preise">PREISE</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">KONTAKT</a></li>
        </ul>
        <div class="landing-header-registration">
          <a routerLink="/account/anlegen">KOSTENLOSE REGISTRIERUNG</a>
        </div>
        <div class="landing-header-login">
          <a routerLink="/account/anmelden">EINLOGGEN</a>
        </div>
      </div>
    </nav>
  </div>
  