<div class="content-section-container">
    <div class="content-section">
      <div class="content-section-first-slide">
        <div class="content-section-text">
          <h1>Wir bieten den besten</h1>
          <h1>Umzugsservice</h1>
          <p>estibulum dui orci, venenatis id imperdiet et, accumsan ac</p>
          <p>arcu. In sit amet aliquam orci. Donec dapibus eget urna id</p>
          <p>egestas. Pellentesque accumsan nisl</p>
          <div class="orange-button"><span>Anzeige Jetzt Aufgeben</span></div>
        </div>
      </div>
  
      <div class="content-section-second-slide">
        <div class="content-section-text">
          <h1>Wir bieten den besten 2</h1>
          <h1>Umzugsservice 2</h1>
          <p>estibulum dui orci, venenatis id imperdiet et, accumsan ac</p>
          <p>arcu. In sit amet aliquam orci. Donec dapibus eget urna id</p>
          <p>egestas. Pellentesque accumsan nisl</p>
          <div class="orange-button"><span>Anzeige Jetzt Aufgeben</span></div>
        </div>
      </div>
      <div class="content-section-arrows">
        <div class="arrow-left" >
          <i class="arrow-left-icon"></i>
        </div>
        <div class="arrow-right">
          <i class="arrow-right-icon"></i>
        </div>
      </div>
    </div>
  
    <div class="content-info-section">
      <div class="content-info">
        <img src="../assets/img/icon1.png">
        <div class="content-info-text">
          <h1>+1500</h1>
          <p>number of users registers</p>
        </div>
      </div>
      <div class="content-info">
        <img src="../assets/img/icon2.png">
        <div class="content-info-text">
          <h1>+2500</h1>
          <p>People published Announcement</p>
        </div>
      </div>
      <div class="content-info">
        <img src="../assets/img/icon3.png">
        <div class="content-info-text">
          <h1>+900</h1>
          <p>People Who Already helps</p>
        </div>
      </div>
    </div>
  </div>
  