<div class="contact-section">
    <div class="contact-section-title">
      <h1 id="contact">Kontakt</h1>
    </div>
  
    <div class="contact-section-content">
      <div class="contact-section-content-user">
        <img src="../../../assets/img/img-user.jpg" alt="check">
        <h1>John Doe</h1>
        <p>Leiter Der Kundenservice</p>
      </div>
  
      <div class="contact-section-content-service">
        <h1>Kundenservice</h1>
        <div class="contact-section-service-text">
          <div class="contact-section-service-text-img">
            <img src="../../../assets/img/time.png" alt="time">
          </div>
          <div>
            <p>Öffnungszeiten</p>
            <p>Werktage von 09:00 bis 17:00</p>
          </div>
        </div>
  
        <div class="contact-section-service-text">
          <div class="contact-section-service-text-img">
            <img src="../../../assets/img/phone.png" alt="phone">
          </div>
          <div>
            <p>PHONE</p>
            <p>+00 2345 6789</p>
          </div>
        </div>
  
        <div class="contact-section-service-text">
          <div class="contact-section-service-text-img">
            <img src="../../../assets/img/mail.png" alt="mail">
          </div>
          <div>
            <p>EMAIL</p>
            <p>hello@example.com</p>
          </div>
        </div>
  
        <div class="contact-section-service-text">
          <div class="contact-section-service-text-img">
            <img src="../../../assets/img/location.png" alt="location">
          </div>
          <div>
            <p>ADDRESS</p>
            <p>Carl-Reuther-Strabe 3, 68305 Mannheim</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  