@font-face {
    font-family: "UbuntuBold";
    src: url("../../../assets/fonts/ubuntu/Ubuntu-B.ttf") format("woff");
  }
  
  @font-face {
    font-family: "UbuntuRegular";
    src: url("../../../assets/fonts/ubuntu/Ubuntu-R.ttf") format("woff");
  }
  
  .contact-section {
    background: #152247;
    padding-top: 100px;
    margin: 0 auto;
  }
  
  .contact-section h1 {
    font-family: UbuntuBold;
    color: 	#ffffff;
    font-size: 40px;
    position: relative;
  }
  
  .contact-section-title h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .contact-section-title h1:before {
    content : "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    border-bottom: 4px solid #ffa04a;
    display: flex;
    justify-content: center;
  }
  
  .contact-section-content {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  
  .contact-section-content-user img {
    width: 400px;
    border-radius: 10px;
  }
  
  .contact-section-content-user h1,
  .contact-section-content-service h1 {
    color: #ffffff;
    font-family: UbuntuBold;
    font-size: 30px;
  }
  
  .contact-section-content-user p {
    color: #ffa04a;
    font-family: UbuntuRegular;
    font-size: 18px;
  }
  
  .contact-section-content-service h1 {
    margin: 0 0 40px 0;
  }
  
  .contact-section-service-text {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .contact-section-content-service .contact-section-service-text p:first-of-type {
    font-family: UbuntuBold;
  }
  
  .contact-section-service-text p {
    color: #ffffff;
    font-family: UbuntuRegular;
    margin: 5px 20px;
  }
  
  .contact-section-service-text-img {
    background: #ffa04a;
    border-radius: 5px;
  }
  
  .contact-section-service-text-img img {
    height: 50px;
    width: 50px;
  }
  
  .contact-section-content-service {
    margin-left: 100px;
  }
  
  @media all and (max-width: 768px) {
    .contact-section-content-user {
      text-align: center;
    }
  }
  