<div class="price-section">
    <div class="price-section-title">
      <h1 id="preise">Preise</h1>
    </div>
  
    <div class="price-section-content-container">
      <div class="price-section-content">
        <div>
          <div class="price-section-content-button">BIS 2 ARBEITSSTUNDEN</div>
          <div class="price-section-price">
            <h1>€25</h1>
            <p>Pauschal Pro Helfer</p>
          </div>
          <div class="price-section-content-text">
            <div class="price-section-content-icon">
              <img src="../../../assets/img/check.png" alt="check">
            </div>
            <div>
              <p>Anpassung des Pauschal drunch kunde</p>
              <p>moglich (mind. 10€)</p>
            </div>
          </div>
          <div class="price-section-content-text">
            <div class="price-section-content-icon">
              <img src="../../../assets/img/check.png" alt="check">
            </div>
            <div>
              <p>Azzgl. $19 Vermittlungsgebuhren</p>
              <p>pro Arbeitstag</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="price-section-content">
        <div>
          <div class="price-section-content-button">BIS 2 ARBEITSSTUNDEN</div>
          <div class="price-section-price">
            <h1>€10</h1>
            <p>Pro Stunde pro Helfer</p>
          </div>
          <div class="price-section-content-text">
            <div class="price-section-content-icon">
              <img src="../../../assets/img/check.png" alt="check">
            </div>
            <div>
              <p>Anpassung des Pauschal drunch kunde</p>
              <p>moglich (mind. 10€)</p>
            </div>
          </div>
          <div class="price-section-content-text">
            <div class="price-section-content-icon">
              <img src="../../../assets/img/check.png" alt="check">
            </div>
            <div>
              <p>Azzgl. $19 Vermittlungsgebuhren</p>
              <p>pro Arbeitstag</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="price-section-button-container">
      <div class="orange-button">Rechnen</div>
    </div>
  
  </div>
  