button:focus {
    outline: none;
    box-shadow: none;
}

.main-container {
    width: 100%;
    min-height: calc(100vh - 39px);
}

.main-container .content {
    background: #f7f5f5;
    min-height: calc(100vh - 62px);
    padding: 20px 0px;
    padding-top: 80px;
    padding-bottom: 0;
}

.content .statics .card {
    border: none;
    border-radius: 6px;
}

.content .statics .card .card-body {
    padding: 10px 15px;
}

.content .statics .card .card-body h4 {
    font-family: Ubuntu;
    color: #152247;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

.content .statics .card .card-body .total img {
    width: 40px;
}

.content .statics .card .card-body .total span {
    padding: 4px 22px;
    color: #ffa04a;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 13px;
    border-radius: 30px;
    background: rgb(255 160 74 / .4);
    float: right;
    margin-top: 7px;
}

.filters {
    padding: 20px 0px;
}

.filters .search-btn {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background: #ffa04a;
    border-radius: 10px;
}

.filters .search-btn:focus {
    outline: none;
}

.jobs .header .heading .img-box {
    width: 40px;
    height: 40px;
    background: #ffd9b7;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 10px;
}

.jobs .header .heading img {
    width: 50px;
    margin-top: 5px;
    margin-left: -4px;
}

.jobs .header .heading h1 {
    font-family: Ubuntu;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    color: #152247;
}

.jobs .header .time span {
    font-family: Ubuntu;
    font-size: 13px;
    color: #152247;
    display: block;
}

.jobs .header .time span i {
    font-size: 13px;
    color: #152247;
    float: unset;
    margin: 0;
}

.jobs .header .time i {
    font-size: 16px;
    color: #ffa04a;
    float: right;
    margin-top: 15px;
}

.jobs-timing {
    width: 60%;
    padding-left: 50px;
}

.jobs-timing span {
    font-family: Ubuntu;
    font-size: 13px;
    color: #152247;
    display: block;
}

.jobs-timing span i {
    font-size: 16px;
    color: #ffa04a;
    margin-right: 5px;
}

.jobs .job-description {
    width: 87%;
}

.jobs .job-description p {
    padding-left: 60px;
    font-family: Ubuntu;
    font-size: 14px;
    color: #152247;
}

.jobs .job-description button {
    color: #ffffff;
    font-weight: bold;
    border: none;
    background: #ffa04a;
    border-radius: 7px;
    padding: 8px 30px;
    float: right;
    font-family: Ubuntu;
    font-size: 14px;
}

::ng-deep .p-accordion-header-link {
    flex-direction: column;
    align-items: flex-start !important;
}

::ng-deep .p-accordion-header-link:hover {
    background: #ffffff !important;
    text-decoration: none !important;
}

::ng-deep .p-accordion .p-accordion-tab {
    box-shadow: none;
    margin-bottom: 10px !important;
}

::ng-deep .p-accordion-toggle-icon {
    position: absolute;
    right: 12px;
    top: 45px;
    color: #ffa04a;
}

::ng-deep .p-accordion .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header-link:focus {
    background: #ffffff;
}

::ng-deep .p-accordion-content {
    padding: 0px !important;
    padding-bottom: 15px !important;
}

::ng-deep .p-dropdown {
    width: 100%;
    border: none !important;
}

::ng-deep .p-calendar {
    width: 100%;
}

::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    color: rgb(21 34 71);
    padding: 12px !important;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 14px;
    color: #152247 !important;
}

::ng-deep .p-inputtext,
.p-datepicker-trigger {
    padding: 10px !important;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 14px !important;
    color: #152247 !important;
}

::ng-deep .p-calendar-w-btn {
    border: none !important;
}

:ng-deep .p-calendar-w-btn .p-datepicker-trigger.p-button {
    padding: 0px !important;
}

::ng-deep .pi {
    color: #ffa04a !important;
}


/* responsive work */

@media (max-width: 767.98px) {}

@media (max-width: 1199.98px) {
    .content .statics .card .card-body {
        padding: 10px;
    }
    .content .statics .card .card-body h4 {
        font-size: 12px;
    }
    .content .statics .card .card-body .total img {
        width: 30px;
    }
    .content .statics .card .card-body .total span {
        padding: 2px 17px;
        margin: 0;
    }
    .filters {
        padding: 20px 10px;
    }
    .filters .input-container {
        padding: 5px;
    }
    .filters .input-filed select,
    input {
        padding: 10px;
        padding-left: 25px;
        font-size: 14px;
    }
    .filters .input-filed i {
        top: 15px;
    }
    .filters .input-filed .icon-2 {
        top: 11px;
    }
    .filters .search-btn {
        border-radius: 7px;
        padding: 10px 15px;
    }
    .jobs-timing {
        width: 82%;
    }
    .job-description {
        width: 100%;
        padding: 10px;
        padding-left: 0;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .main-container .content {
        padding-top: 160px;
    }
    .content .statics .card {
        margin-bottom: 15px
    }
    .content .statics .card .card-body {
        padding: 10px 15px;
    }
    .content .statics .card .card-body h4 {
        font-size: 14px;
    }
    .content .statics .card .card-body .total img {
        width: 40px;
    }
    .content .statics .card .card-body .total span {
        padding: 4px 22px;
        margin-top: 7px;
    }
    .filters {
        padding: 0px 10px;
        padding-bottom: 20px;
    }
    .filters .input-container {
        padding: 5px;
    }
    .filters .input-filed select,
    input {
        padding: 15px;
        padding-left: 30px;
        font-size: 14px;
    }
    .filters .input-filed i {
        top: 19px;
    }
    .filters .input-filed .icon-2 {
        top: 15px;
    }
    .filters .btn-container {
        padding: 5px;
    }
    .filters .search-btn {
        width: 100%;
        margin-top: 10px;
    }
    .jobs .header {
        flex-direction: column-reverse;
    }
    .jobs .header .heading h1 {
        font-size: 17px;
        width: calc(100% - 40px);
        line-height: 20px;
    }
    .jobs .header .time {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .jobs .header .time i {
        margin: 0;
    }
    .jobs-timing {
        width: 100%;
        padding: 0px;
        padding-top: 12px;
    }
    .jobs .job-description {
        width: 100%;
        padding: 10px;
    }
    .jobs .job-description p {
        padding-left: 0px;
    }
    .jobs .job-description button {
        width: 100%;
    }
     ::ng-deep .p-accordion-toggle-icon {
        top: 25px;
    }
}