<div class="main-container">
    <app-header></app-header>
    <div class="login-section">
        <div class="card">
            <div class="row mx-0">
                <div class="col-lg-6 aside-left"></div>
                <div class="col-lg-6 col-md-12 aside-right">
                    <h1>Registreiren Sie Sich</h1>
                    <p>Legen Sie sich fur ein Benutzerkonto an, um Anzeige zu veroffentlichen</p>
                    <form [formGroup]="registrationForm" (ngSubmit)="register()">
                        <div class="form-group">
                            <input 
                            formControlName="fullName" 
                            id="fullName" 
                            type="text" 
                            class="form-control" 
                            placeholder="Vor- und Nachname">
                        </div>
                        <div class="form-group">
                            <input 
                            formControlName="mobile" 
                            id="mobile" 
                            type="text" 
                            class="form-control" 
                            placeholder="Mobile">
                        </div>
                        <div class="form-group">
                            <input 
                            formControlName="email" 
                            id="email" 
                            type="email" 
                            class="form-control" 
                            aria-describedby="emailHelp" 
                            placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input 
                            formControlName="current-password" 
                            id="current-password" 
                            type="password" 
                            class="form-control" 
                            placeholder="Password">
                        </div>
                        <mat-checkbox (change)="onChangeConditionTerms($event)" class="example-margin">
                            Ich bestatige, dass ich die Allgemeine Geschaftsbedingungen gelesen habe und akzeptiere
                        </mat-checkbox>
                        <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha>

                        <div class="submit-btn">
                            <button class="btn btn-primary">
                                Sich Registrieren
                                <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>     
                            </button>
                        </div>
                    </form>
                    <span>Falls Sie bereits ein Konto haben, <a routerLink="/account/login">loggen Sie sich ein.</a></span>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>